{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>

    <header>
      <h1 class="text-center"><a href="/">Django Girls Blog</a></h1>
    </header>

       {% for post in posts %}
         <main>
           <div>
               <p>published: {{ post.published_date }}</p>
               <h1><a href="https://djangogirls.org/" class="external_link" id="link_to_wiki_page">{{ post.title }}</a></h1>
           </div>
           <article>
             <p>{{ post.text|linebreaksbr }}</p>
           </article>
         </main>
       {% endfor %}

       <footer>Copyright AZL</footer>

  </body>
</html>


Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
